@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --color-fd-background: oklch(1 0 0);
  --color-fd-foreground: oklch(0.145 0 0);
  --color-fd-card: oklch(1 0 0);
  --color-fd-card-foreground: oklch(0.145 0 0);
  --color-fd-popover: oklch(1 0 0);
  --color-fd-popover-foreground: oklch(0.145 0 0);
  --color-fd-primary: oklch(0.205 0.042 265.755);
  --color-fd-primary-foreground: oklch(0.985 0 0);
  --color-fd-secondary: oklch(0.965 0.001 286.375);
  --color-fd-secondary-foreground: oklch(0.205 0.042 265.755);
  --color-fd-muted: oklch(0.965 0.001 286.375);
  --color-fd-muted-foreground: oklch(0.705 0.015 286.067);
  --color-fd-accent: oklch(0.965 0.001 286.375);
  --color-fd-accent-foreground: oklch(0.205 0.042 265.755);
  --color-fd-destructive: oklch(0.577 0.245 27.325);
  --color-fd-destructive-foreground: oklch(0.985 0 0);
  --color-fd-border: oklch(0.922 0.004 286.375);
  --color-fd-input: oklch(0.922 0.004 286.375);
  --color-fd-ring: oklch(0.205 0.042 265.755);
  --radius: 0.5rem;
}

.dark {
  --color-fd-background: oklch(0.145 0 0);
  --color-fd-foreground: oklch(0.985 0 0);
  --color-fd-card: oklch(0.145 0 0);
  --color-fd-card-foreground: oklch(0.985 0 0);
  --color-fd-popover: oklch(0.145 0 0);
  --color-fd-popover-foreground: oklch(0.985 0 0);
  --color-fd-primary: oklch(0.546 0.245 262.881);
  --color-fd-primary-foreground: oklch(0.205 0.042 265.755);
  --color-fd-secondary: oklch(0.269 0.015 286.375);
  --color-fd-secondary-foreground: oklch(0.985 0 0);
  --color-fd-muted: oklch(0.269 0.015 286.375);
  --color-fd-muted-foreground: oklch(0.705 0.015 286.067);
  --color-fd-accent: oklch(0.269 0.015 286.375);
  --color-fd-accent-foreground: oklch(0.985 0 0);
  --color-fd-destructive: oklch(0.396 0.133 25.723);
  --color-fd-destructive-foreground: oklch(0.985 0 0);
  --color-fd-border: oklch(0.269 0.015 286.375);
  --color-fd-input: oklch(0.269 0.015 286.375);
  --color-fd-ring: oklch(0.546 0.245 262.881);
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

code, pre, .shiki, .shiki code {
  font-family: var(--font-mono, 'JetBrains Mono', 'Fira Code', 'Cascadia Code', monospace);
}

html[data-code-wrap='true'] figure.shiki > div > pre,
html[data-code-wrap='true'] figure.shiki code {
  white-space: pre-wrap !important;
  word-break: break-all !important;
  width: 100% !important;
}
